/* Start Variables  */
:root {
  --main-color: #00c7fc;
}
/* End Variables  */
/*Start Global Rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*End Global Rules*/

/* Start Layout  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*Small Screen*/
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*Medium Screen*/
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large Screen*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Layout  */
/* ========================================================================== */
/* start header  */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__content {
  border-bottom: 1px solid #636364;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__menu .toggle__menu {
  color: #fff;
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
}

.nav__links {
  display: flex;
}
.nav__link a {
  display: inline-block;
  padding: 38px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: 300ms;
}
.nav__link:last-of-type a {
  padding-right: 0;
}
.nav__link a:hover {
  color: var(--main-color);
}
.nav__link a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.header .form {
  position: relative;
  width: 50px;
  height: 20px;
  margin-left: 30px;
  border-left: 1px solid #fff;
  cursor: pointer;
}
.header .form i {
  padding-left: 20px;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* =============================== Header Responsive ============================================ */
@media screen and (max-width: 991px) {
  .nav__link a {
    padding: 38px 10px;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu .toggle__menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header .container {
    padding: 0;
  }
  .header__logo {
    padding-left: 10px;
  }

  .nav__links {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* height: 0; */
    top: 100%;
    left: 0%;
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
  }
  .nav__links.active {
    opacity: 1;
    visibility: visible;
    /* height: max-content; */
  }
  .nav__link a {
    padding: 10px;
    display: block;
  }
  .header .form {
    margin-left: 0px;
  }
  .header .form i {
    padding: 0 10px;
  }
}
/* end header  */
/* ========================================================================== */
/* start home */
.home {
  background-image: url(../images/landing.jpg);
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  height: 100vh;
}
/* end home */
/* ========================================================================== */
/* start service */
/* end service */
/* ========================================================================== */
/* start portfolio */
/* end portfolio */
/* ========================================================================== */
/* start about */
/* end about */
/* ========================================================================== */
/* start pricing */
/* end pricing */
/* ========================================================================== */
/* start contact */
/* end contact */
